            <form>
                <h3>Convert</h3>
                <div>
                <label><span>Enter quantity</span>
                    <input type="number">
                </label>
                <label><span>Select Forex</span>
                    <select>
                        <option value="AUD/USD">AUD to USD</option>
                        <option value="GBP/USD">GBP to USD</option>
                        <option value="JPY/USD">JPY to USD</option>
                        <option value="EUR/USD">EUR to USD</option>
                        <option value="USD/AUD">USD to AUD</option>
                        <option value="USD/GBP">USD to GBP</option>
                        <option value="USD/JPY">USD to JPY</option>
                        <option value="USD/EUR">USD to EUR</option>
                    </select>
                </label>
                </div>
                <input type="submit" value="Convert">
                <span class="res">Result in USD</span>
                <div id="result"></div>
            </form>