            <section>
                <div class="ribbon ribbon-top-right"><span class="first_h3"></span></div>
                <h3><img src="forex.png"><span class="first_h3"><span></h3>
                <div class="titles">
                    <span class="id_title">#</span>
                    <span class="des_title">Description</span>
                    <span class="val_title">Value</span>
                </div>
                <div class="time">
                    <span class="id_title">1</span>
                    <span class="des_title">Time</span>
                    <span id="aud_time_val" class="val_title"></span>
                </div>
                <div class="price">
                    <span class="id_title">2</span>
                    <span class="des_title">Price</span>
                    <span id="aud_price_val" class="val_title"></span>
                </div>
                <div class="symbol">
                    <span class="id_title">3</span>
                    <span class="des_title">Symbol</span>
                    <span id="aud_symbal_val" class="val_title"></span>
                </div>
            </section>
            <section>
                <div class="ribbon ribbon-top-right"><span class="second_h3"></span></div>
                <h3><img src="forex.png"><span class="second_h3"></span></h3>
                <div class="titles">
                    <span class="id_title">#</span>
                    <span class="des_title">Description</span>
                    <span class="val_title">Value</span>
                </div>
                <div class="time">
                    <span class="id_title">1</span>
                    <span class="des_title">Time</span>
                    <span id="gbp_time_val" class="val_title"></span>
                </div>
                <div class="price">
                    <span class="id_title">2</span>
                    <span class="des_title">Price</span>
                    <span id="gbp_price_val" class="val_title"></span>
                </div>
                <div class="symbol">
                    <span class="id_title">3</span>
                    <span class="des_title">Symbol</span>
                    <span id="gbp_symbol_val" class="val_title"></span>
                </div>
            </section>
            <section>
                <div class="ribbon ribbon-top-right"><span class="third_h3"></span></div>
                <h3><img src="forex.png"><span class="third_h3"></span></h3>
                <div class="titles">
                    <span class="id_title">#</span>
                    <span class="des_title">Description</span>
                    <span class="val_title">Value</span>
                </div>
                <div class="time">
                    <span class="id_title">1</span>
                    <span class="des_title">Time</span>
                    <span id="jpy_time_val" class="val_title"></span>
                </div>
                <div class="price">
                    <span class="id_title">2</span>
                    <span class="des_title">Price</span>
                    <span id="jpy_price_val" class="val_title"></span>
                </div>
                <div class="symbol">
                    <span class="id_title">3</span>
                    <span class="des_title">Symbol</span>
                    <span id="jpy_symbol_val" class="val_title"></span>
                </div>
            </section>